<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<plugins>-->
        <!--<plugin interceptor="com.qianpen.webplus.dao.mybatis.PageInterceptor">-->
            <!--<property name="prop1" value="prop1"/>-->
            <!--<property name="prop2" value="prop2"/>-->
        <!--</plugin>-->
        <!--<plugin interceptor="com.qianpen.webplus.dao.mybatis.ElapsedTimeInterceptor">-->
        <!--</plugin>-->
    <!--</plugins>-->
</configuration>